@media only screen and (max-width:375px){
    
    .container{
        display: flex;
        flex-direction: column !important;
    }
    .w25, .w50, .w75, .w33{
        width: 100% !important;
    }
    .menu-container .menu{
        display: none !important;
    }
    .img-web3{
        max-width: 100% !important;
        position: relative;
    }
    #icon-menu, #icon-menu-close{
        display: block;
    }
    .news1, .news2, .news3{
        background: none !important;
        text-align: center !important;
    }
    .news1 img, .news2 img, .news3 img{
        display: block !important;
        width: 100% !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }
    .dflex{
        display: flex;
        flex-direction: column !important;
    }
}